@font-face{
	font-family:brandFont;
	src: url("../fonts/AquilineTwo.ttf");
}

body{
	font-size: 1em;
	color: #000000;
	background-color: #FFFFFF;
	font-family: sans-serif;
}
#header-nav{
	border: 2px solid #CBA7EC;
	box-shadow: 1px 1px 1px #000000;
}
#mrr-logo{
	background: url("../img/thumbnail/mrr-logo-notext-med.png") no-repeat;
	width: 100px;
	height: 100px;
}
.navbar-brand{
	margin-top: -20px;
}
.navbar-brand h1{
	font-family:brandFont;
	color: #CBA7EC;
	font-size: 2em;
	text-shadow: 1px 1px 1px #222222;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p{
	margin-top: 20px;
	text-transform: uppercase;
	font-size: .5em;
}
#nav-list{
}
#nav-list a{
	text-align: center;
	color: #CBA7EC;
}
#nav-list a:hover{
	color: #000000;
	font-size: 1.2em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #CBA7EC;
}
.navbar-header button.navbar-toggle{
	clear:both;
}
.stress{
	display:inline-block;
	font-family: 'Give You Glory', cursive;
	color: #CBA7EC;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #000000;
	margin: 15px auto 5px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
#Bun{
	border:1px #000000 solid;
	width: 75%;
	margin: 10px auto 10px;
}
#footer{
	font-size: .8em;
	font-style: italic;
	margin-top: 25px;
}
h3{
	text-decoration: underline;
}
.aside h3{
	font-family:brandFont;
	font-size: 2em;
}
.aside p{
	font-family: 'Give You Glory', cursive;
	font-weight:bold;
	font-size: .90em;
}
#pedigree{
	display: inline-block;
	text-align: center;
	margin: 10px auto 0;
}
#non-pedigree{
	display: inline-block;
	text-align: center;
	margin: 10px auto 0;
}
.listing h2{
	font-family: 'Give You Glory', cursive;
	font-size: 1.25em;
	font-weight: bold;
	text-align:center;
	color: #000000;
	background-color: #CBA7EC;
	border: 2px solid #000000;
	border-radius: 30px;
	padding: 5px;
	width: 75%;
	margin: 0px auto 0px;
}
#past-litters{
	display: inline-block;
	text-align: center;
	margin: 0 auto 0;
}
#past-litters h2{
	width: 50%;
}
.listing img{
	width: 150px;
	padding: 5px;
	margin: 5px auto 0;
}

/* Medium Screen Size */
@media (min-width: 992px) and (max-width: 1199px){
.listing img{
	width: 125px;
}
}

/* Small Screen Size*/
@media (min-width: 768px) and (max-width: 991px){
#nav-list{
	font-size: .9em;
}
.navbar-brand h1{
	font-size: 1.5em;
	margin: 5px auto 10px;
}
.listing img{
	width: 100px;
}
}

/* Extra Small Screen Size*/
@media(max-width: 767px){
.navbar-brand{
	padding-top: 10px;
	height: 80px;
}
.navbar-brand h1{
	font-size: 5vw;
}
.navbar-brand p{
	font-size: .6em;
	margin-top: 12px;
}
.navbar-brand p img{
	height: 20px;
}
#nav-list{
	margin-top: 
}
.listing img{
	width: 75px;
}

}